<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.workmanstan dead</string>
	<key>CFBundleName</key>
	<string>Workman Stan Dead</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>KLInfo_Workman Stan Dead</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.workmanstan dead.workmanstan dead</string>
		<key>TISIntendedLanguage</key>
		<string>en-CH</string>
	</dict>
</dict>
</plist>
